{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 ;; clj -X:test
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :bench {:extra-paths ["bench" "bench_resources"]
          :extra-deps {criterium/criterium {:mvn/version "0.4.6"}}
          :main-opts ["-m" "org.jakehoward.pg-render.bench"]
          :exec-fn org.jakehoward.pg-render.bench/-main}}}
